<html lang="en">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
	<form action="/logout" method="post">
        <div class='buton' style="width: 300px;height:20px;margin-top:7px;">
      <input style="background-color:rgb(255,100,100);border-color:rgb(255,100,100);width: 150px;height: 35px;margin-top:75px;margin-left:650px;font-size: 16px;color:black" formaction="/logout" type="submit"  value="Home">
    </div>
	</form>
    <body>
    <h3 ><center>Auditor Dashboard</center></h3>
    <br>
    <br>
     <div class="container"> 
        <form style="margin-top:50px;" id ="contact" action="/mealDetailByBlockchain" method="post">
            <div >
                <label for="mealid"><font color="black"><center>Please enter meal ID</center></font></label>
            <center>
            <input style="width:62% ;" type="Number" id="mealid" name="mealid"/>
            <div class='buton'>
                <input style="color:white;background-color: rgb(89,198,247); width:400px ; font-size: 17px; border-color: rgb(89,198,247);" type="submit"  value="View">
            </div>
			</center>
			</div>
			</div>
        </form >
		<form style=" margin-top:10px;width:900px;background-color:grey;margin-left: 250px;">   
        <h3 style=" font-size: 20px;color: black;"><center>Blockchain Verified Meal Details</center></h3>
        <table  style="border-collapse:collapse;color:black;width:900px;margin-top:10px;padding:10px;border: 2px solid black;"  >
        <thead>
        <%if (records.length>0){ %>
        <% records.forEach(function(row){ %>
        <tr style="padding: 7px;">
		<th style="padding:7px;border: 2px solid grey">Meal ID</th>
		<td style=" padding:7px;border: 2px solid grey"><%= row.mealID %></td>
		</tr>
		<tr>
        <th style=" padding:7px;border: 2px solid grey">Caterer Transaction Hash</th>   
        <td style=" padding:7px;border: 2px solid grey"><%= records.catererTxHash %></td>
		</tr>
        <tr>
		<th style=" padding:7px;border: 2px solid grey">School Transaction Hash</th>
		<td style=" padding:7px;border: 2px solid grey"><%= records.schoolTxHash %></td>
		</tr>
        <tr>
		<th style="padding:7px;border: 2px solid grey">Feedback Transaction Hash</th>
		<td style=" padding:7px;border: 2px solid grey"><%= records.feedbackTxHash %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">Record Tampered Status</th>
		<td style=" padding:7px;border: 2px solid grey"><%= records.tampered %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">Meal quantity prepared by Caterer</th>
		<td style=" padding:7px;border: 2px solid grey"><%= row.studentCount %></td>
        </tr>
        <tr>
		<th style="padding:7px;border: 2px solid grey">Actual students present at School</th>
		<td style=" padding:7px;border: 2px solid grey"><%= records.studentPresent %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">IoT Metrics reported at Caterer</th>
		<td style=" padding:7px;border: 2px solid grey"><%= row.IoTMetricsScore %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">IoT Metrics reported at School</th>
		<td style=" padding:7px;border: 2px solid grey"><%= records.iotSchool %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">Meal Dispatch Time</th>
		<td style=" padding:7px;border: 2px solid grey"><%= row.preparationTime %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">Meal Delivery Time</th>
		<td style=" padding:7px;border: 2px solid grey"><%= records.deliveryTime %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">Meal Prepared By Caterer</th>
		<td style=" padding:7px;border: 2px solid grey"><%= row.mealcode %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">Meal Delivered At School</th>
		<td style=" padding:7px;border: 2px solid grey"><%= records.schoolMealCode %></td>
        </tr>
		<tr>
		<th style="padding:7px;border: 2px solid grey">Feedback Rating (out of 10)</th>
		<td style=" padding:7px;border: 2px solid grey"><%= records.feedbackRating %></td>
        </tr>
        <% })}
		else{ %>
        <tr>
        <td colspan="5">Records are tampered / Meal is rejected or entered Meal ID doesn't exists. Contact Administrator for help.</td>
        </tr>
        <%
		}%>
		</thead>
        </table>
        </form>
    </body>    
</html>